<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>149002968644-3h695jiniegng60v0otsrbn81iatekr8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.149002968644-3h695jiniegng60v0otsrbn81iatekr8</string>
	<key>API_KEY</key>
	<string>AIzaSyADXuBY1zqM7px8Rm4fLCqgr3SM92trlYU</string>
	<key>GCM_SENDER_ID</key>
	<string>149002968644</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>fil.bratov.iChat</string>
	<key>PROJECT_ID</key>
	<string>ichat-78c31</string>
	<key>STORAGE_BUCKET</key>
	<string>ichat-78c31.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:149002968644:ios:32163505c657a0c7552611</string>
	<key>DATABASE_URL</key>
	<string>https://ichat-78c31.firebaseio.com</string>
</dict>
</plist>